In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data

In [2]:
# 4 Obtain IRIS dataset from data
df_iris = data('iris')
df_iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [3]:
# 4a PRINT first three rows
# df_iris.head(3) or
df_iris.loc[0:3,:]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
# 4b Print the Shape
df_iris.shape # 150 rows by 5 cols

(150, 5)

In [5]:
# 4c print col names
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [6]:
# 4d print data types for each col
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [7]:
# 4e print summary stats for each numeric variable
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## DF from Google Sheet
- replace '/edit' with '/export'  
- add 'format=csv' to the beginning of the query string
- ex csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
-

In [8]:
# import pandas as pd

# sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

# csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

# df_googlesheet = pd.read_csv(csv_export_url)
# df_googlesheet.head()

In [9]:
# 5a read first 3 lines from titanic data
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [10]:
df_googlesheet = pd.read_csv(csv_export_url)
df_googlesheet.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [11]:
# 5b print the number of rows and cols
df_googlesheet.shape

(891, 12)

In [12]:
# 5c print col names
df_googlesheet.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [13]:
# 5d print dtypes
df_googlesheet.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [14]:
# 5e print summary statistics for each numeric variable
df_googlesheet.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [15]:
# 5f print unique values for each of the categorical variables
categories = [df_googlesheet.Survived.unique(),
             df_googlesheet.Pclass.unique(),
              df_googlesheet.SibSp.unique(),
             df_googlesheet.Parch.unique(),
             ]
print(categories)

[array([0, 1]), array([3, 1, 2]), array([1, 0, 3, 4, 2, 5, 8]), array([0, 1, 2, 5, 3, 4, 6])]

In [16]:
# 6 download file into excel 
df_excel = pd.read_excel('train.xlsx')
df_excel

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
# 6a assign first 100 rows to sample
df_excel_sample = df_excel.head(100)
df_excel_sample

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S

In [18]:
# 6b print number of rows from original df
df_excel.index

RangeIndex(start=0, stop=891, step=1)

In [19]:
# 6c print first 5 col names
df_excel_sample.columns[0:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [20]:
# 6d print the column names that have dtype of object

In [21]:
df_excel_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  100 non-null    int64
 1   Survived     100 non-null    int64
 2   Pclass       100 non-null    int64
 3   Name         100 non-null    object
 4   Sex          100 non-null    object
 5   Age          78 non-null     float64
 6   SibSp        100 non-null    int64
 7   Parch        100 non-null    int64
 8   Ticket       100 non-null    object
 9   Fare         100 non-null    float64
 10  Cabin        20 non-null     object
 11  Embarked     99 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 9.5+ KB

In [22]:
df_excel_sample.PassengerId.dtype

dtype('int64')

In [23]:
cols = df_excel_sample.columns
cols

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [24]:
# 6e compute range for each numeric value
df_excel_sample.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,100.0,50.500000,29.011492,1.000,25.75,50.500,75.250000,100.0
Survived,100.0,0.410000,0.494311,0.000,0.00,0.000,1.000000,1.0
Pclass,100.0,2.400000,0.816497,1.000,2.00,3.000,3.000000,3.0
Age,78.0,27.465769,15.278878,0.830,18.25,26.000,34.750000,71.0
SibSp,100.0,0.730000,1.179411,0.000,0.00,0.000,1.000000,5.0
Parch,100.0,0.440000,0.967346,0.000,0.00,0.000,0.000000,5.0
Fare,100.0,29.517625,40.972905,7.225,8.05,15.675,32.134375,263.0

In [25]:
df_excel_descr_T = df_excel_sample.describe().T
df_excel_descr_T

,count,mean,std,min,25%,50%,75%,max
PassengerId,100.0,50.500000,29.011492,1.000,25.75,50.500,75.250000,100.0
Survived,100.0,0.410000,0.494311,0.000,0.00,0.000,1.000000,1.0
Pclass,100.0,2.400000,0.816497,1.000,2.00,3.000,3.000000,3.0
Age,78.0,27.465769,15.278878,0.830,18.25,26.000,34.750000,71.0
SibSp,100.0,0.730000,1.179411,0.000,0.00,0.000,1.000000,5.0
Parch,100.0,0.440000,0.967346,0.000,0.00,0.000,0.000000,5.0
Fare,100.0,29.517625,40.972905,7.225,8.05,15.675,32.134375,263.0

In [26]:
df_excel_descr_T['range'] = (df_excel_descr_T['max'] - df_excel_descr_T['min'])
df_excel_descr_T

,count,mean,std,min,25%,50%,75%,max,range
PassengerId,100.0,50.500000,29.011492,1.000,25.75,50.500,75.250000,100.0,99.000
Survived,100.0,0.410000,0.494311,0.000,0.00,0.000,1.000000,1.0,1.000
Pclass,100.0,2.400000,0.816497,1.000,2.00,3.000,3.000000,3.0,2.000
Age,78.0,27.465769,15.278878,0.830,18.25,26.000,34.750000,71.0,70.170
SibSp,100.0,0.730000,1.179411,0.000,0.00,0.000,1.000000,5.0,5.000
Parch,100.0,0.440000,0.967346,0.000,0.00,0.000,0.000000,5.0,5.000
Fare,100.0,29.517625,40.972905,7.225,8.05,15.675,32.134375,263.0,255.775

In [27]:
import acquire as acq
import os

In [28]:
# 1 this function call will also create a .csv (which will be ignored by GIT)
# 4 functionality has been added already
acq.get_titanic_data('titanic_db')

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [29]:
# 2 this function call will also create a .csv (which will be ignored by GIT)
# 4 functionality has been added already
acq.get_iris_data('iris_db')

,Unnamed: 0,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,1,2,4.9,3.0,1.4,0.2,setosa
2,2,1,3,4.7,3.2,1.3,0.2,setosa
3,3,1,4,4.6,3.1,1.5,0.2,setosa
4,4,1,5,5.0,3.6,1.4,0.2,setosa
5,5,1,6,5.4,3.9,1.7,0.4,setosa
6,6,1,7,4.6,3.4,1.4,0.3,setosa
7,7,1,8,5.0,3.4,1.5,0.2,setosa
8,8,1,9,4.4,2.9,1.4,0.2,setosa
9,9,1,10,4.9,3.1,1.5,0.1,setosa
10,10,1,11,5.4,3.7,1.5,0.2,setosa
11,11,1,12,4.8,3.4,1.6,0.2,setosa
12,12,1,13,4.8,3.0,1.4,0.1,setosa
13,13,1,14,4.3,3.0,1.1,0.1,setosa
14,14,1,15,5.8,4.0,1.2,0.2,setosa
15,15,1,16,5.7,4.4,1.5,0.4,setosa
16,16,1,17,5.4,3.9,1.3,0.4,setosa
17,17,1,18,5.1,3.5,1.4,0.3,setosa
18,18,1,19,5.7,3.8,1.7,0.3,setosa
19,19,1,20,5.1,3.8,1.5,0.3,setosa
20,20,1,21,5.4,3.4,1.7,0.2,setosa
21,21,1,22,5.1,3.7,1.5,0.4,setosa
22,22,1,23,4.6,3.6,1.0,0.2,setosa
23,23,1,24,5.1,3.3,1.7,0.5,setosa
24,24,1,25,4.8,3.4,1.9,0.2,setosa
25,25,1,26,5.0,3.0,1.6,0.2,setosa
26,26,1,27,5.0,3.4,1.6,0.4,setosa
27,27,1,28,5.2,3.5,1.5,0.2,setosa
28,28,1,29,5.2,3.4,1.4,0.2,setosa
29,29,1,30,4.7,3.2,1.6,0.2,setosa
30,30,1,31,4.8,3.1,1.6,0.2,setosa
31,31,1,32,5.4,3.4,1.5,0.4,setosa
32,32,1,33,5.2,4.1,1.5,0.1,setosa
33,33,1,34,5.5,4.2,1.4,0.2,setosa
34,34,1,35,4.9,3.1,1.5,0.2,setosa
35,35,1,36,5.0,3.2,1.2,0.2,setosa
36,36,1,37,5.5,3.5,1.3,0.2,setosa
37,37,1,38,4.9,3.6,1.4,0.1,setosa
38,38,1,39,4.4,3.0,1.3,0.2,setosa
39,39,1,40,5.1,3.4,1.5,0.2,setosa
40,40,1,41,5.0,3.5,1.3,0.3,setosa
41,41,1,42,4.5,2.3,1.3,0.3,setosa
42,42,1,43,4.4,3.2,1.3,0.2,setosa
43,43,1,44,5.0,3.5,1.6,0.6,setosa
44,44,1,45,5.1,3.8,1.9,0.4,setosa
45,45,1,46,4.8,3.0,1.4,0.3,setosa
46,46,1,47,5.1,3.8,1.6,0.2,setosa
47,47,1,48,4.6,3.2,1.4,0.2,setosa
48,48,1,49,5.3,3.7,1.5,0.2,setosa
49,49,1,50,5.0,3.3,1.4,0.2,setosa
50,50,2,51,7.0,3.2,4.7,1.4,versicolor
51,51,2,52,6.4,3.2,4.5,1.5,versicolor
52,52,2,53,6.9,3.1,4.9,1.5,versicolor
53,53,2,54,5.5,2.3,4.0,1.3,versicolor
54,54,2,55,6.5,2.8,4.6,1.5,versicolor
55,55,2,56,5.7,2.8,4.5,1.3,versicolor
56,56,2,57,6.3,3.3,4.7,1.6,versicolor
57,57,2,58,4.9,2.4,3.3,1.0,versicolor
58,58,2,59,6.6,2.9,4.6,1.3,versicolor
59,59,2,60,5.2,2.7,3.9,1.4,versicolor
60,60,2,61,5.0,2.0,3.5,1.0,versicolor
61,61,2,62,5.9,3.0,4.2,1.5,versicolor
62,62,2,63,6.0,2.2,4.0,1.0,versicolor
63,63,2,64,6.1,2.9,4.7,1.4,versicolor
64,64,2,65,5.6,2.9,3.6,1.3,versicolor
65,65,2,66,6.7,3.1,4.4,1.4,versicolor
66,66,2,67,5.6,3.0,4.5,1.5,versicolor
67,67,2,68,5.8,2.7,4.1,1.0,versicolor
68,68,2,69,6.2,2.2,4.5,1.5,versicolor
69,69,2,70,5.6,2.5,3.9,1.1,versicolor
70,70,2,71,5.9,3.2,4.8,1.8,versicolor
71,71,2,72,6.1,2.8,4.0,1.3,versicolor
72,72,2,73,6.3,2.5,4.9,1.5,versicolor
73,73,2,74,6.1,2.8,4.7,1.2,versicolor
74,74,2,75,6.4,2.9,4.3,1.3,versicolor
75,75,2,76,6.6,3.0,4.4,1.4,versicolor
76,76,2,77,6.8,2.8,4.8,1.4,versicolor
77,77,2,78,6.7,3.0,5.0,1.7,versicolor
78,78,2,79,6.0,2.9,4.5,1.5,versicolor
79,79,2,80,5.7,2.6,3.5,1.0,versicolor
80,80,2,81,5.5,2.4,3.8,1.1,versicolor
81,81,2,82,5.5,2.4,3.7,1.0,versicolor
82,82,2,83,5.8,2.7,3.9,1.2,versicolor
83,83,2,84,6.0,2.7,5.1,1.6,versicolor
84,84,2,85,5.4,3.0,4.5,1.5,versicolor
85,85,2,86,6.0,3.4,4.5,1.6,versicolor
86,86,2,87,6.7,3.1,4.7,1.5,versicolor
87,87,2,88,6.3,2.3,4.4,1.3,versicolor
88,88,2,89,5.6,3.0,4.1,1.3,versicolor
89,89,2,90,5.5,2.5,4.0,1.3,versicolor
90,90,2,91,5.5,2.6,4.4,1.2,versicolor
91,91,2,92,6.1,3.0,4.6,1.4,versicolor
92,92,2,93,5.8,2.6,4.0,1.2,versicolor
93,93,2,94,5.0,2.3,3.3,1.0,versicolor
94,94,2,95,5.6,2.7,4.2,1.3,versicolor
95,95,2,96,5.7,3.0,4.2,1.2,versicolor
96,96,2,97,5.7,2.9,4.2,1.3,versicolor
97,97,2,98,6.2,2.9,4.3,1.3,versicolor
98,98,2,99,5.1,2.5,3.0,1.1,versicolor
99,99,2,100,5.7,2.8,4.1,1.3,versicolor
100,100,3,101,6.3,3.3,6.0,2.5,virginica
101,101,3,102,5.8,2.7,5.1,1.9,virginica
102,102,3,103,7.1,3.0,5.9,2.1,virginica
103,103,3,104,6.3,2.9,5.6,1.8,virginica
104,104,3,105,6.5,3.0,5.8,2.2,virginica
105,105,3,106,7.6,3.0,6.6,2.1,virginica
106,106,3,107,4.9,2.5,4.5,1.7,virginica
107,107,3,108,7.3,2.9,6.3,1.8,virginica
108,108,3,109,6.7,2.5,5.8,1.8,virginica
109,109,3,110,7.2,3.6,6.1,2.5,virginica
110,110,3,111,6.5,3.2,5.1,2.0,virginica
111,111,3,112,6.4,2.7,5.3,1.9,virginica
112,112,3,113,6.8,3.0,5.5,2.1,virginica
113,113,3,114,5.7,2.5,5.0,2.0,virginica
114,114,3,115,5.8,2.8,5.1,2.4,virginica
115,115,3,116,6.4,3.2,5.3,2.3,virginica
116,116,3,117,6.5,3.0,5.5,1.8,virginica
117,117,3,118,7.7,3.8,6.7,2.2,virginica
118,118,3,119,7.7,2.6,6.9,2.3,virginica
119,119,3,120,6.0,2.2,5.0,1.5,virginica
120,120,3,121,6.9,3.2,5.7,2.3,virginica
121,121,3,122,5.6,2.8,4.9,2.0,virginica
122,122,3,123,7.7,2.8,6.7,2.0,virginica
123,123,3,124,6.3,2.7,4.9,1.8,virginica
124,124,3,125,6.7,3.3,5.7,2.1,virginica
125,125,3,126,7.2,3.2,6.0,1.8,virginica
126,126,3,127,6.2,2.8,4.8,1.8,virginica
127,127,3,128,6.1,3.0,4.9,1.8,virginica
128,128,3,129,6.4,2.8,5.6,2.1,virginica
129,129,3,130,7.2,3.0,5.8,1.6,virginica
130,130,3,131,7.4,2.8,6.1,1.9,virginica
131,131,3,132,7.9,3.8,6.4,2.0,virginica
132,132,3,133,6.4,2.8,5.6,2.2,virginica
133,133,3,134,6.3,2.8,5.1,1.5,virginica
134,134,3,135,6.1,2.6,5.6,1.4,virginica
135,135,3,136,7.7,3.0,6.1,2.3,virginica
136,136,3,137,6.3,3.4,5.6,2.4,virginica
137,137,3,138,6.4,3.1,5.5,1.8,virginica
138,138,3,139,6.0,3.0,4.8,1.8,virginica
139,139,3,140,6.9,3.1,5.4,2.1,virginica
140,140,3,141,6.7,3.1,5.6,2.4,virginica
141,141,3,142,6.9,3.1,5.1,2.3,virginica
142,142,3,143,5.8,2.7,5.1,1.9,virginica
143,143,3,144,6.8,3.2,5.9,2.3,virginica
144,144,3,145,6.7,3.3,5.7,2.5,virginica
145,145,3,146,6.7,3.0,5.2,2.3,virginica
146,146,3,147,6.3,2.5,5.0,1.9,virginica
147,147,3,148,6.5,3.0,5.2,2.0,virginica
148,148,3,149,6.2,3.4,5.4,2.3,virginica
149,149,3,150,5.9,3.0,5.1,1.8,virginica

In [33]:
# 3 this function call will also create a .csv (which will be ignored by GIT)
# 4 functionality has been added already
acq.get_telco_data('telco_churn')

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '... JOIN internet_service_types ON ... JOIN payment_types ON ...' at line 1")
[SQL: SELECT * FROM customers JOIN contract_types ON ... JOIN internet_service_types ON ... JOIN payment_types ON ...]
(Background on this error at: https://sqlalche.me/e/14/f405)