In [ ]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
# import warnings
# warnings.filterwarnings('ignore')

In [ ]:
# 4 Obtain IRIS dataset from data
df_iris = data('iris')
df_iris.head()

# can use sns version also...

In [ ]:
# 4a PRINT first three rows
# df_iris.head(3) or
df_iris.loc[0:3,:]

In [ ]:
# 4b Print the Shape
df_iris.shape # 150 rows by 5 cols

In [ ]:
# 4c print col names
df_iris.columns  # list(df_iris.columns)

In [ ]:
# 4d print data types for each col
df_iris.dtypes

In [ ]:
# 4e print summary stats for each numeric variable
df_iris.describe()

## DF from Google Sheet
- replace '/edit' with '/export'  
- add 'format=csv' to the beginning of the query string
- ex csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
-

In [ ]:
# import pandas as pd

# sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

# csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

# df_googlesheet = pd.read_csv(csv_export_url)
# df_googlesheet.head()

In [ ]:
# 5a read first 3 lines from titanic data
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [ ]:
df_googlesheet = pd.read_csv(csv_export_url)
df_googlesheet.head(3)

In [ ]:
# 5b print the number of rows and cols
df_googlesheet.shape

In [ ]:
# 5c print col names
df_googlesheet.columns # or .to_list()

In [ ]:
# 5d print dtypes
df_googlesheet.dtypes

In [ ]:
# 5e print summary statistics for each numeric variable
df_googlesheet.describe()

In [ ]:
df_googlesheet['PassengerId'].dtypes

In [ ]:
# for col in df_googlesheet.columns:
#     if df_googlesheet[col].dtypes == 'object':
#         #if the string literal == adtype of object
#         print(f'{col} has {df_googlesheet.nunique()} unique values')

In [ ]:
# 5f print unique values for each of the categorical variables
categories = [df_googlesheet.Survived.unique(),
             df_googlesheet.Pclass.unique(),
              df_googlesheet.SibSp.unique(),
             df_googlesheet.Parch.unique(),
             ]
print(categories)

In [ ]:
df_googlesheet['Embarked'].isna()
df_googlesheet['Embarked'].value_counts(dropna=False)
df_googlesheet['Embarked'].isna().sum()

In [ ]:
# 6 download file into excel 
df_excel = pd.read_excel('train.xlsx')  #sheet_name='ddfs' is an arg to add
df_excel

In [ ]:
# 6a assign first 100 rows to sample
df_excel_sample = df_excel.head(100)
df_excel_sample

In [ ]:
# 6b print number of rows from original df
df_excel.index # df_excel.shape[0]

In [ ]:
# 6c print first 5 col names
df_excel_sample.columns[0:5]

In [ ]:
## THIS IS MUCH EASIER TO GRAB dytpe of X!!!

# 6d print the column names that have dtype of object
df_excel_sample.select_dtypes(include='object').head()

In [ ]:
df_excel_sample.info()

In [ ]:
df_excel_sample.PassengerId.dtype

In [ ]:
cols = df_excel_sample.columns
cols

In [ ]:
# 6e compute range for each numeric value
df_excel_sample.describe().T

In [ ]:
df_excel_descr_T = df_excel_sample.describe().T
df_excel_descr_T

In [ ]:
df_excel_descr_T['range'] = (df_excel_descr_T['max'] - df_excel_descr_T['min'])
df_excel_descr_T

In [ ]:
import acquire as acq
import os

In [ ]:
# 1 this function call will also create a .csv (which will be ignored by GIT)
# 4 functionality has been added already
acq.get_titanic_data('titanic_db')

In [ ]:
# 2 this function call will also create a .csv (which will be ignored by GIT)
# 4 functionality has been added already
acq.get_iris_data('iris_db')

In [ ]:
# 3 this function call will also create a .csv (which will be ignored by GIT)
# 4 functionality has been added already
acq.get_telco_data('telco_churn')

## DATA PREPARE EX

In [ ]:
# 1 Using IRIS data use acquire.py to load
import acquire as acq
iris_df = acq.get_iris_data('iris_db')
iris_df.head()

In [ ]:
# 2 drop columns
iris_df.drop(columns=['species_id','measurement_id'],inplace=True)
iris_df

In [ ]:
# 3 Rename
iris_df.rename(columns={'species_name':'species'},inplace=True)
iris_df

In [ ]:
# 4 Create Dummy variables for species name and concat into iris_df
iris_df = pd.concat(
                    [iris_df,
                     pd.get_dummies(iris_df['species'], drop_first=True)],
                    axis=1)

In [ ]:
iris_df.head()

In [ ]:
import acquire as acq

In [ ]:
import prepare as prp

In [ ]:
# 5 Create a function which takes in df and outputs the above transformations

def prep_iris(df):
    '''
    prep iris will take in a single pandas dataframe
    and drop columns
    and aaddress NULLS
    and encoding cats
    '''
    #df = acq.get_iris_data('iris_db')
    df = df.drop(columns=['species_id','measurement_id'])
    df = df.rename(columns={'species_name':'species'})
    df = pd.concat([df,pd.get_dummies(df['species'],drop_first=True)],axis=1)
    return df

In [ ]:
db = acq.get_iris_data('iris_db')
type(db)
db.head()
#db = db.rename(columns={'species_id':'oneone'})
# db.head()

In [ ]:
db = prp.prep_iris(db)
db.head()

## USING TITANIC dataset

In [ ]:
from sklearn.impute import SimpleImputer
# # make the thing...
# #titanic
# my_imputer = SimpleImputer(strategy='mean')
# #fit the thing...
# my_imputer.fit(titanic_df['age'])
# #use the thng
# titanic['age'] = my_imputer.transform(titanic_df['age'])

# then use the imputer to fill in missingness for TRAIN data initialy...
# then add that imputation process to validate and TEST data...
# ie your IMPUTATION ASSUMPTIONS should be formulated based on TRAIN data, not WHOLE data or any part of TEST

In [ ]:
# load titanic via acquire.py
df = acq.get_titanic_data('titanic_db')
df.head()

In [ ]:
def prep_titanic(df):
    '''
    Accepts a df and drops unneeded columns, imputes missing values, and encodes cats
    '''
    #drop out any redundant, excessively empty, or bad columns
    df = df.drop(columns=['passenger_id','embarked','deck','class'])
    # impute average age and most common embark_town:
    df['age'] = df['age'].fillna(df.age.mean())
    df['embark_town'] = df['embark_town'].fillna('Southampton')
    # encode categorical values:
    df = pd.concat(
    [df, pd.get_dummies(df[['sex', 'embark_town']],
                        drop_first=True)], axis=1)
    return df

In [ ]:
prep_titanic(acq.get_titanic_data('titanic_db'))

In [ ]:
prp.prep_titanic(df).head()

## USING TELCO dataset

In [ ]:
# load telco via acquire.py
df = acq.get_telco_data('telco_churn')
df.head()

In [ ]:
def prep_telco(df):
    '''
    Accepts a df and drops unneeded columns, imputes missing values, and encodes cats
    '''
    
    #drop out any redundant, excessively empty, or bad columns
    df = df.drop(columns=['payment_type_id','internet_service_type_id','contract_type_id'])

    # encode categorical values:
    df = pd.concat(
    [df, pd.get_dummies(df[['gender', 'senior_citizen','partner','dependents','tech_support','streaming_tv',
                           'streaming_movies','paperless_billing','churn','contract_type',
                            'internet_service_type','payment_type']],
                        drop_first=True)], axis=1)
    return df

In [ ]:
df = prep_telco(df)
df.head()

In [ ]:
# POTENTIAl issues with telco...appear to be no NULLS
df.isna().sum()

In [ ]:
df.isna().mean()

In [ ]:
df.isna().sum()[df.isna().sum() > 0]

In [ ]:
# # which are cats?
# dont_encode = []
# encode = []
# binaries = []

# # for col in df.columns:
# #     if df[col].dtype == 'O':
#           if telco[col].nunique() > 5:
#              dont_encode.append(col)
#           elif telco[col].nunique() > 5:
#              binaries.append(col)
#           else:
#              encode.append[col]

In [ ]:
df.gender.unique()

In [ ]:
df.gender.map({'Female':1,
              'Male':0})

In [ ]:
pd.get_dummies(df[['gender']],drop_first=True)

In [ ]:
df.customer_id.nunique()

## SPLIT the dataset

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.model_selection import train_test_split
train_val,test = train_test_split(df,train_size=0.8,random_state=2013,stratify=df['churn_Yes'])

In [ ]:
train_val.shape, test.shape

In [ ]:
train, validate = train_test_split(train_val, train_size=0.7,random_state=2013,
                                   stratify=train_val['churn_Yes'])

In [ ]:
#1 this function also exists in prepare.py as prp
def split_data(df, target):
    '''
    split_data will split data into train,val,test based on 
    the values present in a cleaned version of df.  By default, data will be stratified
    by the target label
    
    '''
    train_val, test = train_test_split(df,train_size=0.8,random_state=2013,
                                   stratify=df[target])
    train, validate = train_test_split(train_val,train_size=0.7,random_state=2013,
                                   stratify=train_val[target])
    return train, validate, test

In [ ]:
import prepare as prp
df = iris_df
df.head()

In [ ]:
#2 run prp.split_data on the iris dataset.  This should yield train_iris,validate_iris, and test_iris
prp.split_data(df,'species')

In [ ]:
train_iris,validate_iris,test_iris = prp.split_data(df,'species')
train_iris.shape

In [ ]:
#3 run prp.split_data on the Titanic dataset.  This should yield train_titanic,validate_titanic, and test_titanic
df = prep_titanic(acq.get_titanic_data('titanic_db'))
df.head()

In [ ]:
prp.split_data(df,'survived')

In [ ]:
train_titanic,validate_titanic,test_titanic = prp.split_data(df,'survived')
train_titanic.shape

In [ ]:
df = prep_telco(acq.get_telco_data('telco_churn'))
df.head()

In [ ]:
#4 run prp.split_data on the Telco dataset.  This should yield train_telco,validate_telco, and test_telco
train_telco,validate_telco,test_telco = prp.split_data(df,'churn_Yes')

In [ ]:
train_telco.shape

In [ ]:
test_telco

### EXPLORE exercises

In [ ]:
# Part 1 using iris_db
# 1 Using IRIS data use acquire.py to load
import acquire as acq
iris = acq.get_iris_data('iris_db')
iris.head()

In [ ]:
import prepare as prp
iris = prp.prep_iris(iris)
iris.head()

In [ ]:
# need to drop the one-hot encoding of the target variable...will lead to data leakage later on if we process
# df as it is with target being encoded
iris = iris.drop(columns=['versicolor','virginica'])
iris.head()

In [ ]:
train_iris,validate_iris,test_iris = prp.split_data(iris,'species')
train_iris.shape,validate_iris.shape,test_iris.shape

In [ ]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import env
import acquire as acq
import prepare as prp
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [ ]:
# 2 UNIVARIATE STATS
train_iris.columns

In [ ]:
train_iris.dtypes

In [ ]:
train_iris['sepal_width'].dtype

In [ ]:
# Separate Cats from Nums
cat_cols,num_cols = [],[]
for col in train_iris.columns:
    if train_iris[col].dtype == 'O':
        cat_cols.append(col)
    else:
        if train_iris[col].nunique() < 10:
            cat_cols.append(col)
        else:
            num_cols.append(col)

In [ ]:
num_cols

In [ ]:
# For each Num col, show hist/boxplot/describe()
for col in num_cols:
    sns.histplot(data=train_iris, x=col)
    plt.show()
    sns.boxplot(data=train_iris, x=col)
    plt.show()
    print(train_iris[col].describe().T)

In [ ]:
cat_cols

In [ ]:
# 2 For each Cat, create freq table and a bar plot
for col in cat_cols:
    print(f'Univariate assess feature {col}:')
    sns.countplot(data=train_iris,x=col)
    plt.show()
    print(
    pd.concat([train_iris[col].value_counts(),
               train_iris[col].value_counts(normalize=True)],
              axis=1))

In [ ]:
train_iris.shape
test_iris.shape

In [ ]:
'''
TAKEAwAYS

-All 3 SPECIES are equally represented in TRAINING SET

-Asssumption of NOrmality applies to : Sepal Length,Sepal Width,

-Petal Width and Petal Length are bi-modal, however the greater leaf surface areas are NORMALLY DISTRIBUTED
 in the case of Petal Length

'''

In [ ]:
#LOOK at Bivariate Comparisons
# check each num with target and add a HORIZONTAL MEAN LINE
for col in num_cols:
    sns.boxplot(data=train_iris,x='species', y=col)
    plt.axhline(train_iris[col].mean(),color="red", linestyle="dashed",linewidth=5)
    plt.title(f'species based on {col}')
    plt.show()

In [ ]:
# calculate descriptive stats for each num_col all independent variable cols are num_cols
train_iris.describe().T

In [ ]:
num_cols

In [ ]:
train_iris['sepal_length'].describe()

In [ ]:
for col in num_cols:
    print(train_iris[col].describe())

In [ ]:
train_iris.sepal_length.describe()

In [ ]:
# compare virginica and versicolor mean PETL_WIDTH using Mann-Whitney
virginica = train_iris[train_iris.species=='virginica'].petal_width
versicolor = train_iris[train_iris.species=='versicolor'].petal_width

In [ ]:
alpha = 0.05
stat, p = stats.mannwhitneyu(virginica, versicolor)

In [ ]:
stat,p # with a p_value of near-zero...there is evidence to suggest that a diff exists between the mean 
# petal_width for virginica and versicolor, ie the samples were drawn from seperate distributions

In [ ]:
# compare virginica and versicolor mean PETL_LENGTH using Mann-Whitney
virginica = train_iris[train_iris.species=='virginica'].petal_length
versicolor = train_iris[train_iris.species=='versicolor'].petal_length
stat, p = stats.mannwhitneyu(virginica, versicolor)
stat,p # with a p_value of near-zero...there is evidence to suggest that a diff exists between the mean 
# petal_length for virginica and versicolor, ie the samples were drawn from seperate distributions

In [ ]:
# compare virginica and versicolor mean SEPAL_WIDTH using Mann-Whitney
virginica = train_iris[train_iris.species=='virginica'].sepal_width
versicolor = train_iris[train_iris.species=='versicolor'].sepal_width
stat, p = stats.mannwhitneyu(virginica, versicolor)
stat,p # with a p_value less than alpha (0.05)...there is evidence to suggest that a diff exists between
# the mean sepl_width for virginica and versicolor, ie the samples were likely drawn from seperate distributions

In [ ]:
# compare virginica and versicolor mean SEPAL_LENGTH using Mann-Whitney
virginica = train_iris[train_iris.species=='virginica'].sepal_length
versicolor = train_iris[train_iris.species=='versicolor'].sepal_length
stat, p = stats.mannwhitneyu(virginica, versicolor)
stat,p # with a p_value less than alpha (0.05)...there is evidence to suggest that a diff exists between
# the mean sepl_length for virginica and versicolor, ie the samples were likely drawn from seperate distributions

In [ ]:
''' all pair-wise comparisons display a statistically significant diff in the means of each measure for
virginica and versicolor.  In particular, the petal_width and petal_length means-testing display STRONG EVIDENCE
for the conclusion that the measurements are sourced from seperate dirstributions.
Regarding sepal_width and sepal_length, while the p_value is below the alpha threshold (0.05), the slight possibility
exists in the case of sepal_width of a Type II error (approx 4%).

'''

In [ ]:
# LOOK at MUltivariate comparisons, using pairplot
sns.pairplot(train_iris,corner=True,hue='species')
plt.show()

In [ ]:
# Visualize interaction of two diff numeric variables and represent the SPECIES dimension with hue
# I will look  at sepal_length and sepal_width because the three centroids (species) appear to be closest
sns.relplot(data=train_iris,
              x= 'sepal_length',
              y= 'sepal_width',
              hue='species')
plt.show()

In [ ]:
train_iris.shape

In [ ]:
# Now we need to melt this WIDE table into a LONG table

In [ ]:
train_iris_melt = train_iris.melt(id_vars=['species'],
                                  var_name='category',
                                  value_name='value'
                                  )
train_iris_melt
# 84 instances X 4 attributes = 336

In [ ]:
# Create SWARMPLOT x=category y=value hue=species
sns.swarmplot(data=train_iris_melt,
              x= 'category',
              y= 'value',
              hue='species')

#That is awesome! So cool!

In [ ]:
''' 
The SWARMPLOT based on a LONG table clearly displays instances where variables are distinct and seperate from
one another based upon dimension of SPECIES.  Likewise it also shows where distributions overlap.  This can be 
used to pinpoint those variables which may prove to be useful drivers/predictors.

In this case, as was shown with earlier analysis...Petal_Length and Petal_Width both display clear and distinct
1-dimensional clusters with minimal overlap of data points

'''

In [ ]:
# NOVEL QUESTION... Is Sepal_Width of Virginica statistically significant in size from
# VERSICOLOR samples (2-sample,2-tailed)? 

# First we plot
sns.boxplot(data=train_iris,x='species', y='sepal_width')
plt.axhline(train_iris['sepal_width'].mean(),color="red", linestyle="dashed",linewidth=1)
plt.title(f'species by Sepal_Width (redline is mean of ALL species)')
plt.show()

In [ ]:
check_α = 0.05
vir_sepw = train_iris_melt[(train_iris_melt['species'] == 'virginica') & (train_iris_melt['category'] == 'sepal_width')].value
versi_sepw = train_iris_melt[(train_iris_melt['species'] == 'versicolor') & (train_iris_melt['category'] == 'sepal_width')].value

In [ ]:
# next we run a ttest with assumptions of normality, independence, and variance met
_, levene_p = stats.levene(vir_sepw,versi_sepw)
levene_p < check_α
#levene_p

In [ ]:
# Testing both Virginica and Versicolor SEPAL WIDTH via a ttest_ind(2-sample), (2-tailed)

t_stat, p_val = stats.ttest_ind(vir_sepw,
                                versi_sepw,
                               equal_var=True)

In [ ]:
t_stat,p_val

In [ ]:
''' 
While looking at the boxplot of the various species MEAN SEPAL_WIDTH may not indicate a statistically 
significant difference between VIRG and VERSI, further ttest_ind provieds evidence that a 
Statistically Sig Diff does exists between the two.

This is an excellent way to illustrate the point that the SCALE of the CHART may not always display the full
nature of the truth.  By incorporating the SETOSA data in the Boxplot, it skews the relative view of the two 
species under investigation and may lead to the viewer making a false negative when eyeballing a chart that 
is not constructed optimally!

'''

## PART II using Titanic dataset

In [ ]:
# load titanic via acquire.py
df = acq.get_titanic_data('titanic_db')
df.head()

In [ ]:
df = prp.prep_titanic(df)
df.head()

In [ ]:
df.info()

In [ ]:
# Split dataset
train, validate, test = prp.split_data(df,'survived')
train.shape,validate.shape,test.shape

In [ ]:
#Determine drivers of target

In [ ]:
train.columns[:-2]

In [ ]:
cat_cols, num_cols = [], []
for col in train.columns[:-2]:
    if train[col].dtype == 'O':
        cat_cols.append(col)
    else:
        if train[col].nunique() < 10:
            cat_cols.append(col)
        else:
            num_cols.append(col)

In [ ]:
cat_cols

In [ ]:
num_cols

In [ ]:
explore_cols = cat_cols + num_cols
explore_cols

In [ ]:
#Univariate Counts of Survival status by each column:
for col in explore_cols:
    if col in cat_cols:
        print(f'Univariate assessment of feature {col}:')
        sns.countplot(data=train, x=col)
        plt.show()
        print(
            pd.concat([train[col].value_counts(),
            train[col].value_counts(normalize=True)],
                 axis=1))
    else:
        print(f'Univariate Feature analysis of feature {col}:')
        plt.hist(train[col])
        plt.show()
        sns.boxplot(data=train, x=col)
        plt.show()
        train[col].describe()

In [ ]:
# Bivariate analysis
for col in cat_cols:
    if col != 'survived':
        sns.barplot(data=train,
                    x=col,
                    y = 'survived',
                   ci=False)
        plt.title(f'Surivival of Passengers based on {col}')
        plt.show()

In [ ]:
# drivers of signifigance include:
#  pclass,gender, and alone (or sibsp)

In [ ]:
# Columns to potentially drop include:
#  sibsp and parch-assuming data integrity, then alone = 1 | 0 IS SUFFICIENT
#  unless specific domain knowledge says otherwise....drop Embark Town
#  sex is redundancy of sex_male

In [ ]:
# Numerical columns to potentially bin as discretes:
#  both age and fare are potnetial candidates for binning...B/C this is Classification and not regression,
# we are not looking to determine or even use precice, exact values, we just need to know categories

In [ ]:
# Columns to potentially combine:
# if two or more columns communicate similar domain info, rather than combine them, just drop

In [ ]:
'''
Not that it is surprising, but for categorical dimension except sibsp and parch, the feature class that
contained the largest number of instances also lead to the correspndingly lowest survival rate within
the feature.  For example, survival rate for 3rd class pax was lowest, but they constituted largest portion
of pax, survival rate for male was lower than female, and they also constituted largest portion of pax
within feature. 

'''

## USE TELCO dataset look for drivers of CHURN

In [ ]:
df = acq.get_telco_data('telco_churn')
df

In [ ]:
# rather than use prep_telco fx from prepare.py, I will be proceed manually, b/c analysis requires 
# different df transformations than prepare.py fx. I do not want to encode any of the values thereby making
# table unneccesarily wider.

In [ ]:
df = df.drop(columns=['payment_type_id','internet_service_type_id','contract_type_id',
                     'customer_id','payment_type'])
df

# droppage for most of the columns that provide duplicated info...I left the human-friendly str versions
# and removed the machine-friendly numerically encoded versions
#  additionally, customer_id goes bye-bye, then I also decided to just remove
# payment_type altogether.  But now I dont remember why...

In [ ]:
df.columns

In [ ]:
# any numerical value to BIN?  
# again, this is a classification problem, so there is no harm in placing monthly charge and total_charge
# into tiers.  Maybe some ML algorythms may perform better with continuous data? prolly not tho

In [ ]:
# rather than combine similar features, I would look at opportunities for dimension reducation instead.

As a result of having analyized churn in a previous module, via Tableau, I will pare the df down to only those
features which indicate whether or not a customer is tied to TelcoCo in some non-business, ancillary manner
or if the cost for a customer to switch service providers is nominally nothing.

For example, having one or more dependents who are also serviced by TelcoCo keeps an accnt from churning
b/c the switching costs for those accounts may be greater than some single dude on a month-to-month contrct.

The greater the perceived commitment...the gretaer the length of tenure.

Significant drivers of churn: dependents-paperless_billing-contract_type
Largest CUSTOMER SEGMENT  contract_type=Month-to-Month
                          paperless_billing=enabled
                          dependents=No
                          Service_Type=Fiber_optic
                          1420 accounts
Churn, Baby, Churn!

In [ ]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import env
import acquire as acq
# import warnings
# warnings.filterwarnings('ignore')


# query = define the query above the function call and pass the variable in as a parameter
fruits_df = acq.get_sql_pull('fruits_db',
                "SELECT * FROM fruits")

fruits_df

fruits_df.info()

import prepare as prp

cat_cols,num_cols = prp.cat_num_cols(fruits_df)

cat_cols,num_cols

prp.remind_data_prep()

prp.ex_cat_cols(cat_cols,fruits_df)