### Evaluation
[Course content](https://ds.codeup.com/classification/evaluation/)

**Objective:** Understand and apply various metrics used to evaluate the performance of a classification model.

In [1]:
import pandas as pd 
import sklearn.metrics
from sklearn.metrics import confusion_matrix

In [2]:
### A dataframe which contains predicted values and actual values

df = pd.DataFrame({
    'actual': ['coffee', 'no coffee', 'no coffee', 'coffee', 'coffee', 'coffee', 'no coffee', 'coffee'],
    'prediction': ['no coffee', 'no coffee', 'coffee', 'coffee', 'coffee', 'coffee', 'no coffee', 'no coffee'],
})

In [3]:
### View the dataframe
df

      actual prediction
0     coffee  no coffee
1  no coffee  no coffee
2  no coffee     coffee
3     coffee     coffee
4     coffee     coffee
5     coffee     coffee
6  no coffee  no coffee
7     coffee  no coffee

In [4]:
### Use a crosstab to count the outcomes
pd.crosstab(df.actual,df.prediction)

prediction  coffee  no coffee
actual
coffee           3          2
no coffee        1          2

In [5]:
pd.crosstab(df.prediction,df.actual)

actual      coffee  no coffee
prediction
coffee           3          1
no coffee        2          2

### Terminology

The two outcomes in classification are labeled as either **positive** or **negative**. 


While the designations are arbitrary, they impact how evaluation metrics are interpreted.

### Evaluation on train, test, and split


| Split |  Purpose |
| ----------- | :----------- |
| Train | Evaluate in-sample performance|
| Validate |  Evaluate out of sample performance to tune hyper-parameters |
| Test | Evaluate performance of model |

### Confusion Matrix

A diagram which summarizes the outcomes of a model. 



| Designation      | Description |
| ----------- | ----------- |
| True Negative      | Model correctly predicted the negative outcome       |
| False Positive   | Model incorrectly predicted the positive outcome        |
| False Negative   | Model incorrectly predicted the negative outcome        |
| True Positive      | Model correctly predicted the positive outcome       |

### Confusion Matrix with `sklearn`

'coffee' is the positive outcome`

'no coffee' is the negative outcome


The function `confusion_matrix` returns a 2x2 array

### Components of a confusion matrix
 
 For a confusion matrix $C$,


| Index (row, column)      | Count of |
| ----------- | ----------- |
| $C_{0,0}$      | True Negatives       |
| $C_{1,0}$    |   False Negatives      |
| $C_{1,1}$    |   True Positives      |
| $C_{0,1}$    |   False Positives      |

In [6]:
### Return a confusion matrix for the model's predictions
confusion_matrix(df.actual, df.prediction, labels = ('no coffee','coffee'))

array([[2, 1],
       [2, 3]])

In [7]:
pd.crosstab(df.prediction,df.actual)

actual      coffee  no coffee
prediction
coffee           3          1
no coffee        2          2

### Evaluation Metrics

### Accuracy 

Accuracy evaluates how many correct predictions (both positive and negative) were made over the total number of predictions. 


$\texttt{Accuracy} = \dfrac{TP + TN}{TP + FP + FN + TN}$

### Precision

Precision evaluates how many of the positive predictions were correct.

$\texttt{Precision} = \dfrac{TP}{TP + FP}$

### Recall

Recall evaluates how the model handled all positive outcomes. 

$\texttt{Recall} = \dfrac{TP}{TP + FN}$

### Misclassification Rate

Misclassification rate concerns how many predictions were incorrect. This accounts for all other outcomes not included in the calculation of accuracy. 

$\texttt{Misclassification Rate} = 1 - \texttt{Accuracy}$

### Sensitivity (True Positive Rate)


$\texttt{True Positive Rate} = \dfrac{TP}{TP + FN} $

### Specificity 

How well does the model predict negative outcomes?


$\texttt{Specificity} = \dfrac{TN}{FP + TN}$

### Negative Predictive Value

$\texttt{NPV} = \dfrac{TN}{TN + FN}$

### F1 Score

$\texttt{F1  Score} = 2 * \dfrac{Precision * Recall}{Precision + Recall}$

## Baseline

The baseline is a simple model that is a reference point for the performance of other models. 

For a classification model, a baseline is often the mode.

In [8]:
### Find the counts of each outcome

df.actual.value_counts()

coffee       5
no coffee    3
Name: actual, dtype: int64

In [9]:
### Set the baseline_prediction to be coffee

df['baseline_prediction'] = 'coffee'

In [10]:
df

      actual prediction baseline_prediction
0     coffee  no coffee              coffee
1  no coffee  no coffee              coffee
2  no coffee     coffee              coffee
3     coffee     coffee              coffee
4     coffee     coffee              coffee
5     coffee     coffee              coffee
6  no coffee  no coffee              coffee
7     coffee  no coffee              coffee

<div class="alert alert-block alert-info">
    
### Evaluation Examples

## Accuracy

In [11]:
model_acc = (df.prediction == df.actual).mean()
model_acc

0.625

In [12]:
model_baseline = (df.baseline_prediction == df.actual).mean()
model_baseline

0.625

## Recall

In [13]:
# RESTRICT EVAL to ONLY ACTUAL POS!

subset = df[df.actual == 'coffee']
subset

   actual prediction baseline_prediction
0  coffee  no coffee              coffee
3  coffee     coffee              coffee
4  coffee     coffee              coffee
5  coffee     coffee              coffee
7  coffee  no coffee              coffee

In [14]:
model_recall = (subset.prediction == subset.actual).mean()
model_recall

0.6

In [15]:
baseline_recall = (subset.baseline_prediction == subset.actual).mean()
baseline_recall

1.0

## Precision

In [16]:
subset = df[df.prediction == 'coffee']
model_precision = (subset.prediction == subset.actual).mean()

subset = df[df.baseline_prediction == 'coffee']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 75.00%
baseline precision: 62.50%