In [1]:
#1 File Created
import pandas as pd 
import sklearn.metrics
from sklearn.metrics import confusion_matrix

In [2]:
# 2 evaluate by hand the  model performance
# acc: .80
# 46/53 .87
# 46/59 .78
# A false positive is Predicted == X, but actual != x
# A false negative is Predicted != X, but actual == x
# This model is fairly acurrate compared to guessing, but performance would need to 
# drastically improve for production

In [3]:
# 3 C3 datascientist

In [4]:
# read-in the dataset
df = pd.read_csv('c3.csv')
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [5]:
# FIRST WE SPLIT UP THE dfs into 3 seperate DFs, one for each model:
df1 = df.drop(columns=['model2','model3'])
df1.head()
df2 = df.drop(columns=['model1','model3'])
df2.head()
df3 = df.drop(columns=['model1','model2'])
df3.head()

      actual     model3
0  No Defect  No Defect
1  No Defect     Defect
2  No Defect  No Defect
3  No Defect     Defect
4  No Defect  No Defect

In [6]:
## ACTUALLY, lets answer the questions that can be answered at this point:
# Which METRIC is useful to ID all DEFECTS:  RECALL TP/(TP+FN)  TP/ALL ACTUAL
# Now, which model 1,2,3 has highest RECALL VALUE?
pd.crosstab(df.model1,df.actual)

actual     Defect  No Defect
model1
Defect          8          2
No Defect       8        182

In [7]:
model1_acc = (df1.model1 == df1.actual).mean()
model1_acc

subset = df1[df1.actual == 'Defect']
subset.shape
model1_recall = (subset.model1 == subset.actual).mean()
model1_recall

0.5

In [8]:
pd.crosstab(df.model2,df.actual)

actual     Defect  No Defect
model2
Defect          9         81
No Defect       7        103

In [9]:
model2_acc = (df2.model2 == df2.actual).mean()
model2_acc
subset = df2[df2.actual == 'Defect']
subset.shape

model2_recall = (subset.model2 == subset.actual).mean()
model2_recall

0.5625

In [10]:
pd.crosstab(df.model3,df.actual)

actual     Defect  No Defect
model3
Defect         13         86
No Defect       3         98

In [11]:
model3_acc = (df3.model3 == df3.actual).mean()
model3_acc
subset = df3[df3.actual == 'Defect']
subset.shape

model3_recall = (subset.model3 == subset.actual).mean()
model3_recall 
# Model 3 has greatest RECALL at 0.8125...(13/16), but we really need to get a better model...

0.8125

- and the winner is ... MODEL 3 with Recall = .8125

In [12]:
# VACA to Hawaii 
# The best METRIC to evaluate on to prevent a trip to HAWAII (A FALSE NEGATIVE) is RECALL...
# THe relative cost of removing a Type I False Positive is low compared to giving away a trip to Hawaii

In [13]:
# NOW, which model has the Highest RECALL...
# RESTRICT EVAL to ONLY ACTUAL POS!

subset = df1[df1.actual == 'Defect']
subset.shape

(16, 2)

In [14]:
model1_recall = (subset.model1 == subset.actual).mean()
model1_recall  # Ugh....recall of .50

0.5

In [15]:
subset = df2[df2.actual == 'Defect']
subset.shape

model2_recall = (subset.model2 == subset.actual).mean()
model2_recall  # Ugh recall of .56

0.5625

In [16]:
subset = df3[df3.actual == 'Defect']
subset.shape

model3_recall = (subset.model3 == subset.actual).mean()
model3_recall  # right now, this is best with .8125


# Model 3 has greatest RECALL at 0.8125...(3/16), but we really need to get a better model...

0.8125

In [17]:
# 4 GIVES_YOU_PAWS dataset...
# first, create a baseline model
df = pd.read_csv('gives_you_paws.csv')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  5000 non-null   object
 1   model1  5000 non-null   object
 2   model2  5000 non-null   object
 3   model3  5000 non-null   object
 4   model4  5000 non-null   object
dtypes: object(5)
memory usage: 195.4+ KB

In [18]:
# FIRST WE SPLIT UP THE dfs into 4 seperate DFs, one for each model:
df1 = df.drop(columns=['model2','model3','model4'])
df1.head()
df2 = df.drop(columns=['model1','model3','model4'])
df2.head()
df3 = df.drop(columns=['model1','model2','model4'])
df3.head()
df4 = df.drop(columns=['model1','model2','model3'])
df4.head()

  actual model4
0    cat    dog
1    dog    dog
2    dog    dog
3    dog    dog
4    cat    dog

In [19]:
pd.crosstab(df.model1,df.actual)

actual   cat   dog
model1
cat     1423   640
dog      323  2614

In [20]:
pd.crosstab(df.model2,df.actual)

actual   cat   dog
model2
cat     1555  1657
dog      191  1597

In [21]:
pd.crosstab(df.model3,df.actual)

actual  cat   dog
model3
cat     893  1599
dog     853  1655

In [22]:
pd.crosstab(df.model4,df.actual)

actual   cat   dog
model4
cat      603   144
dog     1143  3110

In [23]:
df4.shape

(5000, 2)

In [24]:
# NOW WE CREATE a BASELINE MODEL where DOG is Positive case (most common) and CAT is Negative case
### Set the baseline_prediction to be dog...it is the most common class

df['baseline_prediction'] = 'dog'
df.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In [25]:
df_base = df.drop(columns=['model1','model2','model3','model4'])
df_base.head()

  actual baseline_prediction
0    cat                 dog
1    dog                 dog
2    dog                 dog
3    dog                 dog
4    cat                 dog

In [26]:
pd.crosstab(df.baseline_prediction,df.actual)  #3254 dogs and 1746 cats

actual                cat   dog
baseline_prediction
dog                  1746  3254

In [27]:
# 4a How does each model ACCURACY compare to BASELINE ACCURACY?
model1_acc = (df1.model1 == df1.actual).mean()
baseline_acc = (df_base.baseline_prediction == df_base.actual).mean()
print(f'Model 1 ACC: {model1_acc}')
print(f'Baseline ACC: {baseline_acc}')

Model 1 ACC: 0.8074
Baseline ACC: 0.6508

In [28]:
model2_acc = (df2.model2 == df2.actual).mean()
baseline_acc = (df_base.baseline_prediction == df_base.actual).mean()
print(f'Model 2 ACC: {model2_acc}')
print(f'Baseline ACC: {baseline_acc}')

Model 2 ACC: 0.6304
Baseline ACC: 0.6508

In [29]:
model3_acc = (df3.model3 == df3.actual).mean()
baseline_acc = (df_base.baseline_prediction == df_base.actual).mean()
print(f'Model 3 ACC: {model3_acc}')
print(f'Baseline ACC: {baseline_acc}')

Model 3 ACC: 0.5096
Baseline ACC: 0.6508

In [30]:
model4_acc = (df4.model4 == df4.actual).mean()
baseline_acc = (df_base.baseline_prediction == df_base.actual).mean()
print(f'Model 4 ACC: {model4_acc}')
print(f'Baseline ACC: {baseline_acc}')

Model 4 ACC: 0.7426
Baseline ACC: 0.6508

In [31]:
# ACCURACY of MODEL 1 is the highest at 0.807...model 1 (.807) and model 4 (.743) are BETTER than BASELINE
# Suppose DOG team...recommend model with BEST RECALL

In [32]:
df1.head()

  actual model1
0    cat    cat
1    dog    dog
2    dog    cat
3    dog    dog
4    cat    cat

In [33]:
subset.head()

    actual  model3
13  Defect  Defect
30  Defect  Defect
65  Defect  Defect
70  Defect  Defect
74  Defect  Defect

In [34]:
subset = df1[df1.actual == 'dog']
subset.shape

model1_recall = (subset.model1 == subset.actual).mean()
model1_recall

0.803318992009834

In [35]:
subset = df2[df2.actual == 'dog']
subset.shape

model2_recall = (subset.model2 == subset.actual).mean()
model2_recall

0.49078057775046097

In [36]:
subset = df3[df3.actual == 'dog']
subset.shape

model3_recall = (subset.model3 == subset.actual).mean()
model3_recall

0.5086047940995697

In [37]:
subset = df4[df4.actual == 'dog']
subset.shape

model4_recall = (subset.model4 == subset.actual).mean()
model4_recall

0.9557467732022127

In [64]:
df4.model4.value_counts()

dog    4253
cat     747
Name: model4, dtype: int64

In [38]:
# MODEL 4 has BEST RECALL at 0.956!!!!
# Now what about best PRECISION for cats...

In [39]:
# MODEL 1 PRECISION

subset = df1[df1.model1 == 'dog']
model1_precision = (subset.model1 == subset.actual).mean()

print(f'model 1 precision: {model1_precision:.2%}')

model 1 precision: 89.00%

In [40]:
# MODEL 2 PRECISION

subset = df2[df2.model2 == 'dog']
model2_precision = (subset.model2 == subset.actual).mean()

print(f'model 2 precision: {model2_precision:.2%}')

model 2 precision: 89.32%

In [41]:
# MODEL 3 PRECISION

subset = df3[df3.model3 == 'dog']
model3_precision = (subset.model3 == subset.actual).mean()

print(f'model 3 precision: {model3_precision:.2%}')

model 3 precision: 65.99%

In [42]:
# MODEL 4 PRECISION

subset = df4[df4.model4 == 'dog']
model4_precision = (subset.model4 == subset.actual).mean()

print(f'model 4 precision: {model4_precision:.2%}')

model 4 precision: 73.12%

In [43]:
# BEST PRECISION ... Model 2 at 0.893

In [44]:
# 5 Apply the following functions to previous data

# ACCURACY...

In [45]:
sklearn.metrics.accuracy_score(df1.actual,df1.model1)

0.8074

In [46]:
sklearn.metrics.accuracy_score(df2.actual,df2.model2)

0.6304

In [47]:
sklearn.metrics.accuracy_score(df3.actual,df3.model3)

0.5096

In [48]:
sklearn.metrics.accuracy_score(df4.actual,df4.model4)

0.7426

In [49]:
# PRECISION...

In [50]:
sklearn.metrics.precision_score(df1.actual,df1.model1,pos_label='dog')

0.8900238338440586

In [51]:
sklearn.metrics.precision_score(df2.actual,df2.model2,pos_label='dog')

0.8931767337807607

In [52]:
sklearn.metrics.precision_score(df3.actual,df3.model3,pos_label='dog')

0.6598883572567783

In [53]:
sklearn.metrics.precision_score(df4.actual,df4.model4,pos_label='dog')

0.7312485304490948

In [54]:
# RECALL...

In [55]:
sklearn.metrics.recall_score(df1.actual,df1.model1,pos_label='dog')

0.803318992009834

In [56]:
sklearn.metrics.recall_score(df2.actual,df2.model2,pos_label='dog')

0.49078057775046097

In [57]:
sklearn.metrics.recall_score(df3.actual,df3.model3,pos_label='dog')

0.5086047940995697

In [58]:
sklearn.metrics.recall_score(df4.actual,df4.model4,pos_label='dog')

0.9557467732022127

In [59]:
# OVERALL CLASSIFICATION REPORT...

In [60]:
print(sklearn.metrics.classification_report(df1.actual,df1.model1))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [61]:
print(sklearn.metrics.classification_report(df2.actual,df2.model2))

              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [62]:
print(sklearn.metrics.classification_report(df3.actual,df3.model3))

              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

In [63]:
print(sklearn.metrics.classification_report(df4.actual,df4.model4))

              precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000